<a class="back" href="#/list/{$ listIndex $}">Back</a>

<div class="container col-md-8">

		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Title</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" ng-model="taskName">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Deadline</label>
		    <div class="col-sm-10">
		      <input type="date" id="exampleInput" name="input" ng-model="deadline" required />
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button class="btn btn-primary" ng-click="editTask(taskName, deadline)">Save</button>
		    </div>
		  </div>
		</form>


</div>