<div class="container col-md-8">
		<h2>Create a task</h2>
		<input type="text" ng-model="taskName"/>
		<button class="btn btn-primary" ng-click="addTask(lastIndex, taskName)">Save</button>

		<p>In AngularJS world, the services are singleton objects or functions that carry out specific tasks. It holds some business logic. Separation of concern is at the heart while designing an AngularJS application. Your controller must be responsible for binding model data to views using $scope. It does not contain logic to fetch the data or manipulating it.</p>
</div>
	